<div class="col-md-12" ng-controller="AboutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-7">
                <h2>Quienes somos</h2>
                <p>Nuestra misión es buscar la corrección de tus problemas dentales y maxilares, utilizando aparatos de calidad, actuales y estéticos, para obtener un balance dentomaxilofacial que necesites.</p>
                <p>Contamos con equipo especializado, para satisfacer las necesidades de cada paciente y todo dentro de un ambiente cálido y profesional.</p>
            </div>
        </div>

        <h2>Equipo de trabajo</h2>
        <div class="row">
            <div class="col-sm-6 col-md-7">
                <h3>Judith María Sáenz Hernández</h3>
                <dl class="dl-horizontal">
                    <dt>Profesión</dt>
                    <dd>Cirujano Dentista</dd>

                    <dt>Especialidad</dt>
                    <dd>Ortodoncia</dd>

                    <dt>Correo Electrónico</dt>
                    <dd>
                        <a href="mailto:dentalclinic@prodigy.net.mx">dentalclinic@prodigy.net.mx</a>
                    </dd>

                    <dt>Fecha de Nacimiento</dt>
                    <dd>26 de Enero</dd>

                    <dt>Lugar de Nacimiento</dt>
                    <dd>Jiménez, Chihuahua. México</dd>
                </dl>

                <h4>Trayectoria educativa</h4>
                <dl class="dl-horizontal">
                    <dt >Licenciatura</dt>
                    <dd>Facultad de Odontología de la Universidad Autónoma de Guadalajara</dd>

                    <dt>Periodo de Estudios</dt>
                    <dd>1974-1980</dd>

                    <dt>Grado</dt>
                    <dd>Título de Cirujano Dentista</dd>

                    <dt>Posgrado</dt>
                    <dd>Universidad Tecnológica de México</dd>

                    <dt>Periodo de Estudios</dt>
                    <dd>1997-1999</dd>

                    <dt>Grado</dt>
                    <dd>Especialidad en Ortodoncia</dd>
                </dl>

                <h4>Trayectoria laboral</h4>
                <p>A la fecha más de 13 años de experiencia en práctica exclusiva en Ortodoncia.</p>
            </div>
            <div class="col-sm-6 col-md-5">
                <img class="img-responsive img-round" src="img/about/DSC_0184.jpg" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-5">
                <img class="img-responsive img-round" src="img/smiling_girl_square.jpg" />
            </div>
            <div class="col-sm-6 col-md-7">
                <h3>Gladys Adriana Jasso Vargas</h3>
                <dl class="dl-horizontal">
                    <dt>Profesión</dt>
                    <dd>Cirujano Dentista</dd>

                    <dt>Especialidad</dt>
                    <dd>Odontología Pediátrica</dd>

                    <dt>Correo Electrónico</dt>
                    <dd>
                        <a href="mailto:ga_jv@hotmail.com">ga_jv@hotmail.com</a>
                    </dd>

                    <dt>Fecha de Nacimiento</dt>
                    <dd>12 Mayo</dd>

                    <dt>Lugar de Nacimiento</dt>
                    <dd>Chihuahua, Chihuahua. México</dd>
                </dl>

                <h4>Trayectoria educativa</h4>
                <dl class="dl-horizontal">
                    <dt>Licenciatura</dt>
                    <dd>Facultad de Odontología de la Universidad Autónoma de Chihuahua</dd>

                    <dt>Periodo de Estudios</dt>
                    <dd>2003-2008</dd>

                    <dt>Grado</dt>
                    <dd>Título de Cirujano Dentista</dd>

                    <dt>Posgrado</dt>
                    <dd>Universidad Tecnológica de México</dd>

                    <dt>Periodo de Estudios</dt>
                    <dd>2010-2012</dd>

                    <dt>Grado</dt>
                    <dd>Especialidad en Odontología Pediátrica</dd>
                </dl>

                <h4>Trayectoria laboral</h4>
                <ul>
                    <li>2012: S y J dental Clinic</li>
                    <li>2013 a la Fecha: Odontopediatra en el Hospital Infantil de Especialidades del Estado de Chihuahua</li>
                </ul>
            </div>
        </div>
    </div>
</div>
